//- Only one search method
if (!self.search_areas)

  .nav-item.nav-search.nav-search__m-wide
    a.nav-link.icon.icon-search(
      href=self.link_to('search.general')
      title=self.t('search')
      data-on-click='common.blocks.navbar.search:show'
    )
    form.nav-search__form(data-on-submit='common.blocks.navbar.search:submit')
      if self.search_tab
        input(type='hidden', name='type', value=self.search_tab)

      .input-group
        span.input-group-btn
          button.btn.nav-search__go.icon.icon-search(
            title=self.t('search_go')
            type='submit'
          )

        input.form-control.nav-search__input(
          placeholder=self.t('search_placeholder')
          name='query'
        )

        span.input-group-btn
          button.btn.nav-search__close.icon.icon-x(
            data-on-click='common.blocks.navbar.search:hide'
          )

  .nav-item.nav-search.nav-search__m-narrow
    a.nav-link(
      href=self.link_to('search.general')
    )
      = self.t('search')

//- Multiple search methods (selectable)
else

  .nav-item.nav-search.nav-search__m-wide
    a.nav-link.icon.icon-search(
      href=self.link_to('search.general')
      title=self.t('search')
      data-on-click='common.blocks.navbar.search:show'
    )
    form.nav-search__form(data-on-submit='common.blocks.navbar.search:submit')
      if self.search_tab
        input(type='hidden', name='type', value=self.search_tab)

      .input-group
        span.input-group-btn
          button.btn.nav-search__go.icon.icon-search(type='submit')

        input.form-control.nav-search__input(
          placeholder=self.t('search_placeholder')
          name='query'
        )

        span.input-group-btn
          - var menu_rnd_id = 'rnd' + self.get_label_uid()

          button.btn.nav-search__select.dropdown-toggle(
            href=self.link_to('search.general')
            id=menu_rnd_id
            aria-haspopup='true'
            aria-expanded='false'
            data-bs-toggle='dropdown'
          )= self.t('search_general')

          .dropdown-menu.dropdown-menu-end(aria-labelledby=menu_rnd_id)
            .dropdown-header= self.t('search_dropdown_header')

            button.dropdown-item(data-on-click='common.blocks.navbar.search:change_area')
              = self.t('search_general')

            each area in self.search_areas
              button.dropdown-item(
                data-method=area.method
                data-params=area.params
                data-on-click='common.blocks.navbar.search:change_area'
              )
                = area.title

        span.input-group-btn
          button.btn.nav-search__close.icon.icon-x(
            data-on-click='common.blocks.navbar.search:hide'
          )

  .nav-item.nav-search.nav-search__m-narrow

    - var menu_rnd_id = 'rnd' + self.get_label_uid()

    a.nav-link.dropdown-toggle(
      href=self.link_to('search.general')
      id=menu_rnd_id
      aria-haspopup='true'
      aria-expanded='false'
      data-bs-toggle='dropdown'
     )
      = self.t('search')

    .dropdown-menu.dropdown-menu-end(aria-labelledby=menu_rnd_id)
      .dropdown-header= self.t('search_dropdown_header')

      a.dropdown-item(href=self.link_to('search.general'))
        = self.t('search_general')

      each area in self.search_areas
        a.dropdown-item(href=self.link_to(area.method, { $query: area.params }))
          = area.title
