- self.add_raw_data('search_reindex_task', self.task_info);

#search-reindex-task.search-widget
  .search-widget__title
    = self.t('title')
    | 
    small(data-bind='visible: started, text: (current() / total() * 100 || 0).toFixed(2) + "%"')

  .rebuild-widget__progress.progress
    .progress-bar(
      data-bind='style: { width: (current() / total() * 100).toFixed(4) + "%" }, visible: current() !== total()'
      style='display: none'
    )

  .row.align-items-baseline.g-0
    .col-auto
      button.btn.btn-light(
        data-on-click='admin.search.index.blocks.reindex.start'
        data-bind='visible: !started()'
      )= self.t('start')

      button.btn.btn-danger(
        data-on-click='admin.search.index.blocks.reindex.stop'
        data-bind='visible: started'
        style='display: none'
      )= self.t('stop')

    .col-auto
      label.form-label(for='reindex-cutoff').reindex-cutoff__label= self.t('cutoff')

    .col-auto
      input#reindex-cutoff.reindex-cutoff__input.form-control(type='number', min=0)
